button{
    background-color: rgb(19, 133, 153);
    padding: 7px;
    color: white;
}

#buttons-view{
    padding-bottom: 20px;
}

body{
    background-color:lightgrey;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-align: center;
    color: lightcoral;
}